
{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<div>
    {% if games %}
    <h5>Here are your Active Games: </h5>
    <br>
    <div class="table-responsive table-hover">
        <table class="table">
            <caption>*Draw Time in GMT</caption>
            <thead>
                <tr>
                    <th scope="col">Draw ID</th>
                    <th scope="col">Game</th>
                    <th scope="col">Numbers</th>
                    <th scope="col">Time of Submission</th>
                    <th scope="col">Draw Time</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                <tr>
                    <td>{{ game['game_id'] }}</td>
                    <td>{{ game['game'] }}</td>
                    <td>{{ game['numbers'] }}</td>
                    <td>{{ game['timestamp'] }}</td>
                    <td>{{ game['draw_time'] }}</td>
                    {% if time > game['draw_time'] %}
                    <td>
                        <form action="/check" method="post">
                            <input class="form-control" name="id" value="{{ game['id'] }}" type="number" hidden>
                            <input class="form-control" name="game_id" value="{{ game['game_id'] }}" type="number"
                                hidden>
                            <input class="form-control" name="game" value="{{ game['game'] }}" type="text" hidden>
                            <input class="form-control" name="numbers" value="{{ game['numbers'] }}" type="text" hidden>
                            <button class="btn btn-primary" type="submit">Check</button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <h3>Go Play Something!</h3>
    {% endif %}
</div>


{% endblock %}